html {
    --bg-secondary: #393e74;
    --bg-third: #5599fa;
    --bg-primary: #18191b;
    --block-primary: #232425;
    --secondary: #eff6fa;
}

.box-skills .content-skills .modal-skills {
    background-color: var(--block-primary);
    padding: .5rem;
}

.box-skills .content-skills .modal-skills .modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid rgb(245, 24, 215); */
    margin: .5rem;
    width: 200px;
}

.box-skills .content-skills .modal-skills .modal-box i,
.box-skills .content-skills .modal-skills .modal-box li {
    /* border: 1px solid var(--bg-third); */
    border-bottom: 2px solid var(--bg-third);
    border-right: 2px solid var(--bg-third);
    background-color: var(--bg-primary);
    font-size: 4rem;
    padding: 0 1.5rem;
    border-radius: 3rem;
    margin: .4rem 0;
    box-shadow: #eff6fa;
}

.box-skills .content-skills .modal-skills .modal-box li {
    list-style: none;
    font-size: 1rem;
    font-weight: 700;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.box-skills .content-skills .modal-skills .fa-minus {
    /* border: 2px solid rgb(245, 24, 215); */
    display: flex;
    justify-content: flex-end;
    margin: .5rem;
    cursor: pointer;
}

.container .content .box-skills .content-skills .hidden {
    display: none;
}

@media screen and (min-width: 810px) {
    .box-skills .content-skills .modal-skills .modal-box {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .box-skills .content-skills .modal-skills .modal-box i {
        margin: 1rem 2rem;
    }
}

@media screen and (max-width: 1023px) {

    .container .content .box-resume .content-resume .resume:nth-child(2)  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .content .box-resume .content-resume .resume .resume-publication {
        position: absolute;
        opacity: 0.9;
        background-color: var(--bg-primary);
        border-radius: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .hidden-pub {
        display: none;
    }

    .container .content .box-resume .content-resume .resume .expand-publications {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--block-primary);
        padding: .4rem;
        margin: .5rem 1rem 0 1rem;
        border: 1px solid var(--bg-third);
        border-radius: 2rem;
        cursor: pointer;
        width: 200px;
    }

    .container .content .box-resume .content-resume .resume .expand-publications i {        
        color: var(--bg-third);
        font-weight: 600;
        font-style: normal;
    }
    
    .container .content .box-resume .content-resume .resume .expand-publications p {
        text-transform: uppercase;
        margin: 0 .3rem;
    }
    
    .container .content .box-resume .content-resume .resume .resume-publication .pub-box .publication {
        border: 2px solid var(--secondary);
        padding: 1.5rem;
        margin: 20% 10%;
        background-color: var(--block-primary);
    }

    .container .content .box-resume .content-resume .resume .resume-publication .pub-box .publication .pub-header {
        flex-direction: column;
        align-items: flex-end;
    }

    .container .content .box-resume .content-resume .resume .resume-publication .close-pub i {
        float: right;
        margin: 1rem;
        font-size: 1.5rem;
    }
}